<h1>Skill Building Certificate</h1>

<p>Name : Ketan</p>
<p>Division : A</p>
<br/>
<p>You have successfully completed the Skill 
Building course</p>
<img src="/assets/car.jpg" alt="car">
<%#= image_tag(get_image_path("car.jpg"), :style => "margin-left:400px;margin-top:500px;") %>
<p><%= link_to "Generate Certificate Pdf", generate_certificate_path %></p>